/* CSS Document */
.metro .navigation-bar, .metro .navbar .green {
	background-color: #00a300 !important;
}

.metro .navigation-bar .green .element:hover, .metro .navbar .green .element:hover {
	background-color: #059D05 !important;
}

.metro .navigation-bar .green a:hover, .metro .navbar .green a:hover {
	background-color: #059D05 !important;
}

html,body {
	background: #EFEAE3;
	min-width: 100%;
}